html {
    background-color: #282c34;
}

body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 0;
}

.App {
    width: 100vw;
    height: 100vh;
}

.block{
    display: block;
    position: absolute;
    top: 200px;
    left: 30%;
    width: 100vw;
}

.sample{
    margin-left: 40px;
    margin-right: 40px;
}